<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jim Buddy</title>
    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
    <link rel="stylesheet" href="css/style.css" />
</head>
<div class="headerContainer">
    <header class="verticalHeader">
        <nav>
            <ul>
                <li><a href="">Forum</a></li>
                <li><a href="">Inspiration</a></li>
            </ul>
        </nav>
        <a href="" id="Login">Login</a>
    </header>
</div>
<body>
    <h1 id="Header" class="Top">Jim Buddy</h1>
</body>
</html>